.feel {
  	background: linear-gradient(270deg, #5822b4, #386bf6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.quick-mode-header-container1 {
  	width: 100%;
}
.quick-mode-header-container {
  	width: 380px;
  	position: relative;
  	line-height: 110%;
  	display: flex;
  	align-items: flex-end;
  	height: 92px;
  	flex-shrink: 0;
}
.sparks-icon {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.generatebuttontext {
  	position: relative;
  	font-weight: 600;
}
.cta-label-icon {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 2px;
}
.button {
  	width: 392px;
  	border-radius: 7px;
  	background-color: #1a00ff;
  	height: 60px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 121px;
  	box-sizing: border-box;
}
.button-frame {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 8px 0px 24px;
}
.content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
	width: 100%;
	gap: 32px;
	min-width: min-content;
}
.quickmode {
    width: 100%;
    max-width: 440px; /* Set a maximum width for centering */
    margin: 0 auto; /* Centers horizontally */
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 72px 24px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: 40px;
    color: #1e1e1e;
    font-family: Poppins;
	min-height: min-content;
}

.picklilogobg {
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(270deg, #5822b4, #386bf6);
	width: 440px;
	height: 100vh;
}
.picklilogo-icon {
	position: absolute;
	top: 40%;
	width: 223px;
	height: 87.1px;
}
.splash {
	width: 440px;
	position: fixed;
    top: 50%;
    left: 50%;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto; /* Center horizontally */

}

.body {
	max-width: 440px;
	margin: 0 auto; /* Center horizontally */
	height: fit-content;
}

html, body {
    height: fit-content; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes any default margin */
    display: flex; /* Enables flexbox on the body */
    justify-content: center; /* Centers content horizontally */
	overflow-x: hidden; /* Prevents horizontal scrolling */

}